//-
  options.name - form element name
  options.type - input type
  options.placeholder - input placeholder
  options.required - input required
  options.text - подпись к checkbox и radio
  options.label - заголовок rich checkbox
  options.checked - выбранный по умолчанию radio/checkbox
  options.value - значение value для radio
  options.isButton - если true, добавляет в поле инпута кнопку отправки данных этого поля

mixin input(options)

  - const {name, type, placeholder, required, text, label, checked, value, isButton, style} = options

  .input
    if (type === "text" || type === "email" || type === "password" || type === "date")
      if (isButton)
        form.input__form(action="blank-link" method="post")
          .input__label.input__label_button= label  
            input(class= label ? "input__field input__field_labeled" : "input__field",
                  type = type, 
                  name = name, 
                  placeholder = placeholder,
                  required = required
            )
            button(class = "input__button", type="submit") &#xe909;
      else
        .input__label= label  
          input(class= label ? "input__field input__field_labeled" : "input__field",
                type = type,
                name = name, 
                placeholder = placeholder,
                required = required,
                autocomplete="on"
          )
        

    if (type === "radio" || type === "checkbox")
      label(class = "input__label_" + type)
        input(class = "input__" + type 
              type = type, 
              name = name, 
              checked = checked, 
              value = value
        )

        div(class= style ? "input__inner input__inner_rich" : "input__inner")
          if (style === "rich")
            p.input__title= label
          div(class= style ? "input__text input__text_rich" : "input__text")= text
        span(class = "input__checkmark input__checkmark_" + type)
